
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.van-badge-status-no {
  background: var(--van-text-color-3) !important;
}
.van-badge-status-ok {
  background: var(--van-success-color) !important;
}
.van-badge-status-none {
  background: none !important;
}
.gray-color {
  color: var(--van-text-color-2);
}
