
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.van-badge-status-no {
  background: var(--van-text-color-3) !important;
}
.van-badge-status-ok {
  background: var(--van-success-color) !important;
}
.van-badge-status-none {
  background: none !important;
}
.gray-color {
  color: var(--van-text-color-2);
}

:root {
  color-scheme: light dark;
  background: white;
  color: #333;
}

@media (prefers-color-scheme: dark) {
  :root {
    background: black;
    color: #eee;
  }
}
//body {
//  position: relative;
//  height: 100%;
//  #app {
//    position: absolute;
//    top: 0;
//    bottom: 0;
//    left: 0;
//    right: 0;
//  }
//}
