body {
  --van-badge-dot-size: 5px;
}

.van-badge-status-no {
  background: var(--van-text-color-3) !important;
}
.van-badge-status-ok {
  background: var(--van-success-color) !important;
}
.van-badge-status-none {
  background: none !important;
}
.gray-color {
  color: var(--van-text-color-2);
}


/* .van-badge--dot {
  width: var(--van-badge-dot-size);
  min-width: 0;
  height: var(--van-badge-dot-size);
  background: var(--van-badge-dot-color);
  border-radius: 100%;
  border: none;
  padding: 0;
} */